.btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 10px;
    color: $white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: $sans-serif;
    line-height: 1;
    transition: all 250ms;
    background: $white;
    &:hover {
        background-color: transparentize($color: $white, $amount: .8);
        cursor: pointer;
    }
}

.btn-default {
    border: 1px solid $white;
}

.btn-alt {
    border: 1px solid $primary;
    color: $primary;
    &:hover {
        border: 1px solid transparent;
        background: $primary-gradient;
        color: $white;
        cursor: pointer;
    }
}

.btn-warn {
    border: 1px solid $warn;
    color: $warn;
    &:hover {
        border: 1px solid transparent;
        background: $warn-gradient;
        color: $white;
        cursor: pointer;
    }
}


.btn-confirm {
    background: $white;
    color: $confirm;
    border: 1px solid $confirm;
    &:hover {
        background: $confirm-gradient;
        color: $white;
    }
}

.btn-small {
    padding: 5px 8px;
    font-size: 10px;
}