.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: $primary;
    color: $white;
    font-size: 22px;
}

.header-subtitle {
    text-transform: capitalize;
}

.subtitle {
    font-weight: 400;
}