.icon-100 {
  width: 100px;
  height: 100px;
}

.icon-55 {
  width: 55px;
  height: 55px;
}

.icon--bkgd {
  fill: transparent;
}

.icon--fill-primary {
  fill: $primary;
}

.icon--fill-white {
  fill: $white;
}