.icon-100 {
  width: 100px;
  height: 100px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon--bkgd {
  fill: transparent;
}

.icon--fill-primary {
  fill: $primary;
}

.icon--fill-primary-dark {
  fill: $primary-dark;
}

.icon--fill-white {
  fill: $white;
}