.input-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 40px auto 0;
    box-sizing: border-box;
    text-align: center;
    .input {
        padding: 15px 100px 15px 20px;
    }
}

.input-header {
    margin: 5px 0 40px;
    font-size: 18px;
    font-weight: 700;
}

.input-row + .input-row {
    margin-top: 30px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input {
    padding: 5px 10px;
    font-size: 18px;
    font-family: $sans-serif;
    font-weight: 300;
    &[disabled] {
        color: transparentize($black, .5)
    }
}

.input-col {
    width: 100%;
    margin: 10px 0;
    input {
        width: 100%;
        box-sizing: border-box;
    }
    & + .input-col {
        margin-left: 15px;
        @media screen and (max-width: 900px) {
            margin-left: 0;
        }
    }
}

.input-row-textarea {
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
}

.input-row-select {
    position: relative;
    padding: 10px 0;
    .arrow {
        content: "\f107";
        position: absolute;
        font-family: "FontAwesome";
        top: 50%;
        transform: translateY(-50%);
        left: 225px;
        pointer-events:none;
        color: $primary;
    }
}

.select {
    border: 1px solid $primary;
    border-radius: 0;
    width: 250px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    padding: 10px 40px 10px 10px;
}

.input-row-flex {
    display: flex;
    @media screen and (max-width: 900px) {
        flex-wrap: wrap;
    }
}

.input-required {
    color: $warn;
}

::-webkit-input-placeholder {
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $gray;
}

::-moz-placeholder {
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $gray;
}

:-ms-input-placeholder {
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $gray;
}

:-moz-placeholder {
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $gray;
}