$white: #ffffff;
$black: #000000;
$primary: #764ba2;
$warn: #ff0844;
$confirm: #50c9c3;

$primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$warn-gradient: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
$confirm-gradient: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);