$white: #ffffff;
$black: #000000;
$primary: #764ba2;
$primary-dark: darken($primary, 15%);
$warn: #e82c0c;
$confirm: #50c9c3;
$gray: #d3d3d3;

$primary-gradient: linear-gradient(135deg, lighten($primary, 20%) 0%, $primary 100%);
$warn-gradient: linear-gradient(to bottom, #f85032 0%, #e82c0c 100%);
$confirm-gradient: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);

$spacer: 30px;

$radius: 4px;