<div class="content-header">
	<h1 class="header-title">baby tracks</h1>
	<h2>The <span class="header-subtitle">{{vm.familyObject.family_name}}</span> Family</h2>
	
	<div class="open-nav fade" ng-click="vm.showNav = true;"><span class="open-nav-icon"></span></div>
</div><!-- content-header -->
<a href="#!emergency-contacts" class="link contact-link" ng-class="vm.getClass('/emergency-contacts')">Emergency Contacts</a>

<div class="overlay fade" ng-if="vm.showNav" ng-controller="NavController">
	<div class="navbar">
		<ul class="nav-list">
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.showNav = false;" href="#!account">Account</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.showNav = false;" href="#!manage-children">Manage Children</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.showNav = false;" href="#!reporting">Reporting</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.showNav = false;" href="#!tracking">Track Events</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.showNav = false;" href="#!emergency-contacts">Emergency Contacts</a>
			</li>
			<li class="nav-list-item">
				<a class="nav-list-item-link" ng-click="vm.familyService.logout()">Logout</a>
			</li>
		</ul><!-- .nav-list -->
	</div><!-- .navbar -->
	<div class="close-nav fade" ng-click="vm.showNav = false;"><span class="close-nav-icon"></span></div>
</div><!-- .overlay --> 