<header class="header" ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="update-child-wrapper">
    <div class="input-row">
        <select class="select input" ng-model="vm.updatedChild" ng-options="child as child.first_name for child in vm.childList.list">
            <option value="" disabled selected>Select Child</option>
        </select>
    </div>
    <form ng-submit="vm.updateChild(vm.updatedChild, vm.updatedChild.id)" class="input-form form">
        <div class="input-row">
            <label class="input-label" for="first_name">First Name:</label>
            <input class="input" type="text" ng-model="vm.updatedChild.first_name" placeholder="First Name" />
        </div>
        <div class="input-row">
            <label class="input-label" for="dob">Date of Birth:</label>
            <input class="input" type="text" ng-model="vm.updatedChild.dob" placeholder="MM/DD/YYYY" />
        </div>
        <div class="input-row">
            <label class="input-label" for="gender">Gender:</label>
            <input class="input" type="text" ng-model="vm.updatedChild.gender" placeholder="Gender (male/female)" />
        </div>
        <div class="input-row">
            <input class="btn btn-alt" type="submit" name="submit" value="Update Child" />
        </div>
    </form>
    <div class="input-row">
        <input class="btn btn-warn" ng-click="vm.deleteChild(vm.updatedChild.id, vm.updatedChild.family_id)" type="submit" name="submit" value="Remove Child" />
    </div>
</div>
<div class="add-children-wrapper">
    <div class="input-row">
        <input class="btn btn-alt" ng-click="vm.showAddChild = true; vm.addChildBtn = false" ng-if="vm.addChildBtn" type="button" name="add-child" value="Add New Child" />
    </div>
</div>
<div class="add-child" ng-if="vm.showAddChild">
    <h2 class="input-alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
    <form class="input-form form" ng-submit="vm.addChild(vm.child); vm.child = {};">
        <div class="input-row">
            <label class="input-label" for="first_name">First Name:</label>
            <input class="input" type="text" ng-model="vm.child.first_name" placeholder="First Name" />
        </div>
        <div class="input-row">
            <label class="input-label" for="dob">Date of Birth:</label>
            <input class="input" type="date" ng-model="vm.child.dob" placeholder="MM/DD/YYYY" />
        </div>
        <div class="input-row">
            <label class="input-label" for="gender">Gender:</label>
            <input class="input" type="text" ng-model="vm.child.gender" placeholder="Gender (Male/Female)" />
        </div>
        <div class="input-row">
            <select class="select input" multiple ng-model="vm.child.categories">
                <option selected disabled>Select Categories</option>
                <option ng-repeat="category in vm.categoryList.list" value="{{category.category_name}}">{{category.category_name}}</option>
            </select>
            <ul>
                <li ng-repeat="childCategory in vm.child.categories">{{childCategory}}</li>
            </ul>
        </div>
        <div class="input-row">
            <input class="btn btn-alt" type="submit" name="submit" value="Add Child" />
        </div>
    </form>
</div>