<header class="header" ng-include="'/views/partials/header.html'"></header>
<div class="input-container">
    <div class="input-inner">
        <h1 class="input-header">Register Family</h1>
        <h2 class="input-alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
        <form class="input-form form" ng-submit="vm.registerUser()">
            <div class="input-row">
                <label class="input-label" for="username">Username:</label>
                <input class="input" type="text" ng-model="vm.user.username" placeholder="Username" />
            </div>
            <div class="input-row">
                <label class="input-label" for="family_name">Family Name:</label>
                <input class="input" type="family_name" ng-model="vm.user.family_name" placeholder="Family Name (Smith)" />
            </div>
            <div class="input-row">
                <label class="input-label" for="password">Password:</label>
                <input class="input" type="password" ng-model="vm.user.password" placeholder="Password" />
            </div>
            <div class="input-row">
                <input class="btn btn-alt" type="submit" name="submit" value="Register" />
                <a class="btn btn-alt" href="#!login">Cancel</a>
            </div>
        </form>
    </div>
</div>
