<header class="header" ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
    <div class="track-wrapper">
        <h2 class="input-alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
        <div class="input-row">
            <select class="select input" ng-model="vm.trackChild" ng-options="child as child.first_name for child in vm.childList.list">
                <option value="" selected disabled>Select</option>
            </select>
        </div>
        <p>selected child id: {{vm.trackChild.id}}</p>

        <div class="event-row" ng-repeat="category in vm.categoryList.list" ng-click="vm.trackEvent(vm.trackChild.id)">
            <p>{{category.category_name}} - category id: {{category.id}}</p>
        </div> <!-- .event-row -->
    </div> <!-- .track-wrapper -->
<!-- {{vm.trackChild.id}} -->
